*{
	color: white;
}

body{
	background: rgba(0, 3, 42, 0.73);
}

button{
	background: black;
}

.input{
	color: black;
}

ul li{
	color: black; 
}


img {
	width: 100px;
	height: 100px;
}

.fondoRojo {
	background-color: red;
}


.seleccionado {
	border: 5px solid red;
	opacity: 1;
}

.noSeleccionado {
	opacity: 0.5;
}